

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';


.tpl-29v0zg8q {
.checkbox_hidden {
	display:none;
}

.checkbox_visible {
	display:normal;
	
}

}

/* Adding custom icon-fonts */

@include icon-font('MyIcons',
    inline-font-files('MyIcons.woff', woff, 'MyIcons.ttf', truetype,'MyIcons.svg', svg));


@include icon-font('MyIcons1',
    inline-font-files('MyIcons1.woff', woff, 'MyIcons1.ttf', truetype,'MyIcons1.svg', svg));


@include icon("icon-phone","!", "MyIcons");
@include icon("icon-star-empty","#", "MyIcons");
@include icon("icon-share","$", "MyIcons");
@include icon("icon-location","\"", "MyIcons");
@include icon("icon-star-full","%", "MyIcons1");



@include icon-font('pictos',
    inline-font-files('pictos-web.woff', woff, 'pictos-web.ttf', truetype,'pictos-web.svg', svg));

@include icon('globe1');

/* Adding icon fonts in the Info Page */
.icon-phone:before {
    font-family: "MyIcons";
    content: "!";
    padding-left: 10px;
    display:inline-block;
    padding-top: 10px;
    font-size:6vw;
    border: none;
    color:#009900;
}

.icon-info:before {
    font-family: "pictos";
    display:inline-block;
    font-size: 1.2em;
    border: none;
}

.icon-location:before {
    font-family: "MyIcons";
    content: "\"";
    padding-left: 10px;
    display:inline-block;
    padding-top: 10px;
    font-size:6vw;
    border: none;
    color:#ff0000;
}

.list-item{
    background:#d7d7d7;
    font-size:5vw;

}


/* Adding icon fonts in the ListOfDeals itemtpl */
.empty-star:before{
    font-family: "MyIcons";
    content: "#";

    font-size: 1.5em;
    color:#D3D3D3;
}
.fill-star:before{
    font-family: "MyIcons1";
    content: "%";
    font-size: 1.5em;
    color:#FFFF00;

}



.share:before {
    font-family: "MyIcons";
    content: "$";
    display:inline-block;
    padding-bottom: 20px;
    font-size: 1.5em;
    color:#D3D3D3;
}

.customfield{
    background:#d7d7d7;
    font-size:4vw;
    font-family: "Helvetica";
    width: 100%;



.customToolbar{
    font-family:"Harlow";
}





}